body {
    background-color: bisque;
    font-family: sans-serif;
}

main {
    font-family: sans-serif;
    background-color: yellowgreen;
    padding: 2%;
}

header {
    background-color: rgb(47, 82, 171);
    padding: 2%;
}

nav {
    display:flex;
    justify-content: space-around;
    align-items: flex-end;
}

.card {
    background-color: rgb(43, 159, 226) !important;
    border: 2px solid !important;
    padding: 1%;
}

.seleccionador{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
