body {
    background-color: #416165;
    font-family: sans-serif;
}

main {
    font-family: sans-serif;
    background-color: white;
    padding: 2%;
}

header {
    background-color: #416165;
    padding: 2%;
}

footer {
    background-color: #D0CEBA;
    min-height: 70px;
}

nav {
    display:flex;
    justify-content: space-around;
    align-items: flex-end;
}

.card {
   
    border: 2px solid !important;
    padding: 1%;
    width: 18rem
}

.seleccionador{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.btn {
    display: inline !important
}
.carritoText{
    color: #D0CDD7;
    font-size: 20px;
    margin-left: 1%;    
}


.preLoader {
    display: flex;
    justify-content: center;
    align-items: center;
} 

h3 {
    color: #6D3B47;
}

h1 {
    color: #D9DBF1;
}